

@font-face {
    font-family: Fahwang;
    src: url(font/Fahkwang-Regular.ttf);
}
@font-face {
    font-family: Fahwang-SemiBold;
    src: url(font/Fahkwang-SemiBold.ttf);
}
@font-face {
    font-family: Fahwang-Bold;
    src: url(font/Fahkwang-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }

#center{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.container {
    min-height: 100%;
}

#sidebar{
    flex-basis:20%;
    margin-top: 50px;
    text-align: center;
}

#menu1{
    flex-basis: 80%;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
   
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 30%;
    box-sizing: border-box;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li product-info a{
    display: block;
    text-decoration: none;
  
}
#danhmuc{
    border: 1px solid #EAAA75 ;
    background-color: #FDEEDF;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 11;

}
li{
    list-style: none;
}
.product-item .product-top a{  
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    list-style: none;
}
.headline{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.listdanhmuc a{
   
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    display: inline-block;
}
ul.listdanhmuc li a{
    text-decoration: none;
    list-style: none;
}
#sidebar h4{
    
    font-size: 18px;
    color: black;
    border: 1px solid #EAAA75 ;
    background-color: #EAAA75;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sidebar h4 a {
    text-decoration: none;
    list-style: none;
}
.product-info h4{
    font-size: 18px;
    color: black;
    border: 1px solid #EAAA75 ;
    background-color: #EAAA75;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-info h4 a {
    text-decoration: none;
    list-style: none;
}
.product-info a{
    text-decoration: none;
    list-style: none;
}



/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }
body {
    
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
} */
