@font-face {
    font-family: Fahwang;
    src: url(font/Fahkwang-Regular.ttf);
}
@font-face {
    font-family: Fahwang-SemiBold;
    src: url(font/Fahkwang-SemiBold.ttf);
}
@font-face {
    font-family: Fahwang-Bold;
    src: url(font/Fahkwang-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Fahwang;
    color: black;
    }
body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}
.content {
    min-height: 100%;
}
.header {
    background:#DB9A5E;
    width: 100%;
    display: inline-block;
    padding-bottom: 0;
}
/* search bar */
#search-box{
    background: #fff;
    border-radius: 30px;
}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    width: 150px;
    padding: 0 5px;
    transition: 0.5s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 150px;
    padding: 0 10px;
}
#search-box #search-button {
    border: none;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}
/* Login button */
#login-btn {
   list-style: none;
    margin-left: 10px;
    text-transform: none;
    padding-top: 10px;
}
#login-btn a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}
#login-btn a:hover {
    color: #60646D;
    
}
/* shopping cart */
#cart {
    width: 30px;
    height: auto;
    float: right;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 10px;
}
.cart a:hover{
    background-color: none;  
}

/* logo */

#logo_ngang {
    height: auto;
    width: 180px;
}
.logo img {
    position: relative;
}

/* toggle-button */
.toggle-btn {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 21px;
    top: 60px;
    right: 10px;
}

.toggle-btn .bar {
    height: 35px;
    width: 100%;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 3px;
}

/* nav-bar */
.navbar {
    display: flex;
    justify-content: center;
}
.menu {
    float: right;
    margin-left: 100px;
}
 
.menu ul
    {
    margin-top: 10px;
    float:left;
    list-style:none;
    display: flex;
    }
.menu ul li
{
position:relative;
float:left;
}
/* Định dạng cho thẻ a */
.menu ul li a
{ 
width: 110px;
height: 50px;
text-align: center;
display:block;
color:black;
font-size: 14px;
font-weight:bold;
text-transform: uppercase;
text-decoration:none;
padding: 5px;
}
.menu ul li a:hover
{font-size: 15px;
background:#935217;
color: white;
}
/* dropdown menu */
.menu ul li ul 
{
position:absolute;
display: none;
margin-top: 0;
}
.menu ul li:hover ul
{
    display: block;
}

.menu ul li ul li{
    font-size: 14px;
    width:110px;
    height: 50px;
    color: white;
    background:#935217;
    border: #60646D 1px solid;
    }

.menu ul li ul li a:hover
{
font-size: 14px;
background:#935217;
color: white;
text-align: center;
}

.nav_bar_button {
    width: 25px;
    height: 25px;
    color: #60646D;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}


/* footer part */
footer {
    margin-bottom: 0;
     clear: both;
    background: #80848c;
    width: 100%;
    height: 180px;
}

.logo {
    width: 100px;
    height: auto;
}
.row {
    display: inline;
    width: 85%;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col3 {
    flex-basis: 25%;
    padding: 10px;
}
.col a {
    text-decoration: none;
}
.col3 .icon {
    width: 40px;
    height: auto;
}

/* responsive for header and footer */
@media (max-width: 400px) {
   
}
@media (max-width:800px) {
    .toggle-btn{
        display: flex;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }

    .menu ul li ul {
        display: none;
    }

    .menu ul li a {
        padding: .5rem 1rem;
    }

    .menu.active {
        display: flex;
    }
    .active {
        display: flex;
    }
    .hidden {
        display: none;
    }

    /* footer */
    .col3 {
        display: none;
     }
     .row {
        font-size: smaller;
     }

}


/* running banner */
.center {
    margin-bottom: 120px;
    width: 100%;
}

.slider img {
    width: 100%;
    height: auto;
    align-self: center;
}

.banChayNhat{
    width: 49%;
    float: left;
    padding-left: 30px;
}

.banChayNhat h4 {
    color: #DB9A5E;
    margin: 20px 0;
    font-size: 18px;
}
.banChayNhat img {
    width: 90%;
    align-content: center;
    position: relative;
}
.banChayNhat button {
    background-color: transparent;
    border: 2px solid #DB9A5E;
    width: 150px;
    height: 38px;
    border-radius: 10px;
    font-style: italic;
    position: absolute;
    margin-top: 220px;
    margin-left: -160px;
}
.banChayNhat button a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.ThucUongMoi {
    padding-top: 60px;
    width: 49%;
    float: right;
    padding-left: 50px;
}
.ThucUongMoi h4 {
    color: #DB9A5E;
    margin: 20px 0;
    font-size: 18px;
}
.ThucUongMoi img {
    width: 90%;
    position: relative;
}
.ThucUongMoi button {
    background-color: transparent;
    border: 2px solid #DB9A5E;
    width: 140px;
    height: 38px;
    border-radius: 10px;
    font-style: italic;
    position: absolute;
    margin-top: 150px;
    margin-left: -140px;
  }
  .ThucUongMoi button a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}


.image {
    width: 60%;
    padding: 20px;
    padding-left: 30px;
  }
 .image img {
    width: 90%;
    margin-top: 20px;
  }
  .mota {
    margin-top: 50px;
    width: 40%;
    float: left;
    
  }
.mota button {
    background-color: #DB9A5E;
    border: none;
    width: 100px;
    height: 38px;
    border-radius: 10px;
    font-style: italic;
}
.mota button a {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
.mainBot{
    height: auto;
    width: 100%;
    padding: 0 5px;
}
/* Khởi nguồn */
.col {
    margin-top: 10px;
    width: 33%;
    float: left;
}
.khoiNguon img {
    width: 95%;
    height: auto;
    border: 1px solid #fff;
}

.khoiNguon span {
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
    text-align: left;
    box-sizing: border-box;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    position: sticky;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    font-weight: normal !important;
}
/* Cửa hàng */

.cuaHang img {
    width: 100%;
    height: auto;
    align-content: center;
}
/* Bản tin */


.fl {
    float: left;
}
.wrap img {
    width: 110px;
    height: 70px;
}
.news {
    margin-bottom: 10px;
}
.news .img {
    width: 120px;
    float: left;
    
}


.news .caption {
    overflow: hidden;
}
.news .caption a {
    text-decoration: none;
}
.news .tend {
    margin-bottom: 5px;
}

.news .tend h3{
    font-size: 14px;
    font-weight: lighter;
}

.news .date {
    font-size: 11px;
    line-height: 21px;
    padding-left: 130px;
}

.news:after {
    content: "";
    display: block;
    clear: both;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.boxHome .title {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxHome .title a {
    display: block;
    font-size: 13px;
    line-height: 21px;

}

.listNew {
    margin-bottom: 15px;
}


.mainBot .wrap.fl {
    padding-left: 20px;
}


div {
    display: block;
}


.fadeIn {
    animation-name: fadeIn;
}
.lazy-start {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Nhập email nhận tin  */
.formRecive form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.formRecive button {
    width: 100px;
    height: 25px;
    background: #e5af7c;
    color: #ffffff;
    border: none;;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    font-style: italic;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
/* responsive for content */
@media (max-width: 400px) {
   
}
@media (max-width:800px) {
    .banChayNhat {
        width: 100%;
        padding-left: 30px;
        }
    .banChayNhat button {
        margin-top: 250px;
        margin-left: -170px;
    }
    .line {
        display: none;
    }
    .ThucUongMoi {
        width: 100%;
    }
    .image {
        width: 100%;
        padding: 20px;
      }
      .ThucUongDacBiet {
        flex-direction: column;
      }
     .image img {
        width: 90%;
        margin-top: 20px;
      }
      .mota {
        margin-top: 50px;
        width: 100%;
        padding: 20px;  
      }

      .mainBot {
        flex-direction: column;
      }

    .col {
        width: 100%;
    }

}


